body{
  text-align: justify;
  text-align: center;
}
h1{
  text-align: center;
}
.container{
  column-count: 5;
  column-gap: 2px;
  padding-bottom: 40px
}
.footer{
  padding-top: 50px;
  font-size: 10px
}

/* Image Transition */
.image{
  padding: 0;
  margin: 0;
  transition: all .3s ease-in-out;
 }
.image:hover{
  transform: scale(1.2);
}


h3{
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}
ol{
  text-align: left;
  padding-left: 12%
}


a{
  color: black;
  text-decoration: none;
  display: inline;
}


.imploc{
  color: black;
  text-decoration: none;
  display: inline;
}
.imploc:hover{
  text-decoration: none;
  color: black;
}

#locs{
    text-decoration: underline;
}




#map{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
ul{
  list-style: none;
}
